version: "3.9"
services:
  backend:
    build:
      context: ./backend
      args:
        PORT: ${BACKEND_PORT}
    container_name: todo-backend
    ports:
      - "${BACKEND_PORT}:5000"
    networks:
      - todo-app-network
  frontend:
    build:
      context: ./frontend
      args:
        PORT: ${FRONTEND_PORT}
    container_name: todo-frontend
    ports:
      - "${FRONTEND_PORT}:80"
    networks:
      - todo-app-network

networks:
  todo-app-network:
    driver: bridge
